:root {
    /* cores principais */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* base */
    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    /* fontes */
    --font-family: "Asap", sans-serif;

    /* títulos */
    --title-lg: 700 56px/120% var(--font-family);
    --title-md: 700 24px/120% var(--font-family);
    --title-sm: 700 16px/120% var(--font-family);

    /* subtítulo */
    --font-subtitle: "Inconsolata", monospace;
    --subtitle: 300 20px/120% var(--font-subtitle);

    /* texto */
    --font-text: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-text);
    --text-sm: 400 14px/140% var(--font-text);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: var(--gray-400);
    
}



header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}



header h2 {
    width: 680px;
    height: 24px;
    font: var(--subtitle);
    color: var(--gray-500);
    padding-bottom: 8px;
}

header h1 {
    width: 680px;
    height: 67px;
    font: var(--title-lg);
    color: var(--gray-600);
}

header p {
    color: var(--gray-400);
    font: var(--text-sm);
    width: 680px;
    padding-top: 20px;
}

